
.search-bar {
    margin-top: 100px;
	display: flex;
    position: absolute;
    top: 50%;
    left: 65%;
    

}


.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}


.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}

/* */
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.1em #d2d2d2 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.7em 0 0 0.7em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #cfcfcf;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
}
.search-btn:before, 

.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}

.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #dfdede inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

.search-btn:after {
	background: #f1f1f1;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: 0.75em;
	height: 0.25em;
}

/* Hoạt động của cái nút */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #363535;
	transform: scale(1);
   
}

.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
